body {
    font-family: Verdana, Arial, sans-serif;
    background-color: #f8f8f8;
    padding: 20px;
    color: #333;
}

h1, h2 {
    color: #573b3b;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 3px solid #ccc;
}

th, td {
    padding: 10px;
    text-align: left;
}

a {
    text-decoration: none;
    color: #588bc2;
    font-weight: bold;
    padding-left: 7px;
}

a:hover {
    text-decoration: underline;
}

label{
    font-weight: bold;
}

form {
    background-color: #7e99bb;
    padding: 35px;
    border: 1px solid #ccc;
    max-width: 400px;
    border-radius: 5px;
    margin: 20px auto;
}

input[type="text"],
input[type="email"] {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    margin-bottom: 12px;
    border: 1px solid #aaa;
    border-radius: 4px;
}

button {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: solid 3px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}